@import './base.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Atlas';
  src: url('fonts/AtlasGrotesk-Regular.woff2') format('woff2'),
      url('fonts/AtlasGrotesk-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atlas-Bold';
  src: url('fonts/AtlasGrotesk-Bold.woff2') format('woff2'),
      url('fonts/AtlasGrotesk-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Atlas';
  font-size: clamp(14px, 3vw, 70px);
  line-height: clamp(18px, 3.6vw, 78px);
  @apply
  bg-black;

  a {
    @apply
    text-white;
  }
}